<h3 class="text-center">{{ images[0].camera }}</h3>
{% for image in images %}
  <div class="col-md-4 col-sm-6 gallery-item">
      <a href="#lb-{{ image.basename }}" class="gallery-link" id="{{ image.basename }}">
          <div class="gallery-hover">
              <div class="gallery-hover-content">
                  <i class="fa fa-arrows-alt fa-3x"></i>
              </div>
          </div>
          <img src="img/gallery/thumbnails/{{ image.name }}" class="img-responsive img-centered" alt="">
      </a>
      <div class="gallery-caption">
        {% for metadata in site.data.gallery %}
          {% if metadata.file == image.basename %}
          <h4>{{ metadata.desc }}</h4>
          <p class="text-muted">{{ metadata.date }} - {{ metadata.plac }}</p>
      </div>
  </div>
  <a href="#_">
    <div class="lightbox" id="lb-{{ image.basename }}">
      <img data-src="{{ image.path }}" class="lazyload"/>
      <div class="caption-container">
        <div>{{ metadata.desc }}</div>
        {% if metadata.modl %}
        <div>{{ metadata.modl }}</div>
        {% endif %}
        <div>{{ metadata.date }} - {{ metadata.plac }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </a>
{% endfor %}
